@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
  min-height: calc(100vh - #{layout.$nav_height});
  padding: 2.5rem;
  background-color: #f6f6f6;

  .main {
    grid-column: 2; // Spans the first two columns
    height: fit-content;
    background-color: colors.$white;
    border-radius: layout.$border_button;
  }

  .sidebar {
    grid-column: 3; // Occupies the third column
  }
}
