@use '@/styles/constants/layout' as layout;
@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/dimensions' as dimensions;

.navigation {
  position: fixed;
  z-index: dimensions.$foreground;
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: layout.$nav_height;
  padding: 0 layout.$nav_padding;
  background-color: colors.$white;

  .title {
    font-size: 2.6rem;
    font-weight: 600;
    color: colors.$white;

    &.white {
      color: colors.$white;
    }

    &.black {
      color: colors.$black;
    }
  }

  .nav-button-container {
    display: flex;
    flex: 1;
    gap: 1rem;

    & > a:last-child,
    & > button:last-child {
      margin-left: 1rem;
    }
  }
}

.inverted {
  background-color: colors.$primary !important;
}

.static {
  position: static;
}
