.submit-button {
  align-self: flex-end;
  padding: 4px 8px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
}
