@use '@/styles/constants/colors' as colors;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 387px;
  height: 90%;
  padding: 30px 36px 0 60px;
  margin-top: 35px;
  border-right: 1px solid colors.$gray2;
}
