@use '@/styles/constants/colors' as colors;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 440px;
  height: 100%;
  padding: 43px 50px;
  border-right: 1px solid colors.$gray1;
}
