@use '@/styles/constants/colors' as colors;
@use '@/styles/mixin' as mixin;

.title {
  align-self: flex-start;
  padding: 2px 8px;
  border-radius: 4px;

  @include mixin.text-bold(600, 1.4rem);
}

.primary {
  color: colors.$primary;
  background-color: rgba(colors.$primary, 0.1);
}

.secondary {
  color: #fa8261;
  background-color: #ffece6;
}
