@use '@/styles/constants/colors' as colors;

.input {
  width: 33.8rem;
  height: 3.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: colors.$black;
  background-color: colors.$gray1;
  border: none;
  border-radius: 0.8rem;

  &:focus {
    outline-color: colors.$primary;
  }

  &::placeholder {
    margin-left: 2rem;
    font-size: 1.2rem;
  }
}

.fill {
  flex: 1;
  width: 100%;
}

.error {
  border: 2px solid colors.$red;
}
