@use '@/styles/constants/colors' as colors;

.datepicker-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  width: 100%;
  min-width: 300px;
  height: fit-content;

  .label {
    font-size: 15px;
    font-weight: 600;
    color: colors.$gray5;
  }
}
