@use '@/styles/constants/colors' as colors;

.email {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .email-title {
    margin-bottom: 1rem;
    font-size: 2.4rem;
  }

  .image {
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: center;
  }

  .email-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .email-text {
      font-size: 1.4rem;
    }
  }

  .email-button {
    padding: 4px 10px;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: colors.$gray5;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid colors.$gray5;
    border-radius: 4px;
  }
}
