@use '@/styles/constants/colors' as colors;

.social-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem;
  cursor: pointer;
  background-color: colors.$gray1;
  border: none;
  border-radius: 100%;
}
