@use '@/styles/mixin/index' as mixin;
@use '@/styles/constants/colors' as colors;

.container {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.text-title {
  @include mixin.text-bold(500, 1.4rem);

  width: 9rem;
  color: #979797;
}

.text-content {
  @include mixin.text-bold(500, 1.4rem);

  color: colors.$black;
}
