@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;

.sign-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: layout.$signin_width;
  height: layout.$signin_height;
  padding: 0.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-header {
  font-size: 3rem;
  font-weight: 600;
  color: colors.$black;
}

.text-content {
  font-size: 1.2rem;
  color: colors.$gray4;
}
