@use '@/styles/constants/colors' as colors;
@use '@/styles/mixin/index' as mixin;

.display-row {
  @include mixin.flex-default(space-between);

  flex-direction: row;
}

.text-bold-18 {
  @include mixin.text-bold(600, 1.8rem);
}

.text-bold-24 {
  @include mixin.text-bold(600, 2.4rem);
}

.margin-right {
  margin-right: 1rem;
}

.margin-y {
  margin: 2rem 0;
}

.circle {
  @include mixin.flex-default;

  width: 4.5rem;
  height: 4.5rem;
  color: colors.$white;
  cursor: pointer;
  background-color: rgba(colors.$primary, 0.5);
  border-radius: 50%;

  &:hover {
    background-color: colors.$primary;
  }
}

.hr {
  margin: 3rem 0;
  border: none;
  border-top: 1px solid #979797;
}
