@use '@/styles/constants/colors' as colors;

.label-wrapper {
  display: contents;

  & > label {
    display: block;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
    color: colors.$gray5;
  }
}
