@use '@/styles/mixin' as mixin;
@use '@/styles/constants/colors' as colors;

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  padding-bottom: 20px;
  margin-top: 15px;
  border-bottom: 1px solid colors.$gray2;

  @media (width <= 932px) {
    grid-template-columns: 1fr;
  }
}

.company-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company-logo {
  border-radius: 50%;
}

.company-tag {
  display: inline-flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.company-name {
  font-size: 2.4rem;
  font-weight: 700;
}

.company-text {
  font-size: 1.6rem;
}

.company-search {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.company-description {
  font-size: 1.6rem;
}
