@mixin slide-down($duration: 0.8s, $easing: ease-out) {
  animation: slide-down $duration $easing forwards;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
