.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  padding: 0 30px;

  .column-left {
    grid-column: 1;
  }

  .column-right {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    gap: 20px;
  }
}
