@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 50%);
}

.modal-content {
  position: relative;
  display: flex;
  background-color: colors.$white;

  &.border {
    border-radius: layout.$signin_border_radius;
  }
}

.border {
  border-radius: layout.$signin_border_radius;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
