@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;

.glass-card {
  position: absolute;
  top: -100px;
  left: 50%;
  display: flex;
  width: 722px;
  height: 394px;
  padding: 0 3rem;
  background: rgb(12 8 226 / 15%);
  backdrop-filter: blur(5.7px);
  border: 1px solid rgb(12 8 226 / 9%);
  border-radius: layout.$border_card_medium;
  transform: translateX(-50%);

  .card-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    &:first-child {
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 5.5rem;
      word-break: keep-all;
    }

    &:last-child {
      font-size: 6.4rem;
      font-weight: 600;

      p {
        display: block;
      }
    }
  }

  .number {
    color: #bc03ff;
  }

  .strong {
    color: colors.$primary;
  }

  span {
    display: inline-block;
  }
}
