@use '@/styles/mixin' as mixin;
@use '@/styles/animations/loader' as animations;

.load-container {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;

  @include mixin.flex-default;
}

.loader {
  @include animations.loader-animation;
}
