@use '@/styles/constants/layout' as layout;
@use '@/styles/constants/colors' as colors;

.sidebar-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.3rem;
  padding: 0 1.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: colors.$gray3;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  border-radius: layout.$border_button;
  transition:
    color 0.2s,
    background-color 0.2s,
    scale 0.1s;

  &:hover {
    color: colors.$black;
    background-color: #f5f5f5;
  }

  &:active {
    scale: 1.02;
  }
}

.selected {
  color: colors.$black;
}

.warning {
  color: colors.$red !important;

  &:hover {
    background-color: transparent;
  }

  &:active {
    scale: 1;
  }
}
