@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 14px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border-radius: layout.$border_button;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;

  &:hover {
    color: colors.$primary;
    cursor: pointer;
    background-color: colors.$white;
  }

  &.selected {
    color: colors.$primary;
    border-color: colors.$primary;
  }
}

.white {
  color: colors.$white;
}

.black {
  color: colors.$black;
}

.primary {
  color: colors.$primary;
}

.outlined {
  border: 1px solid colors.$white;
}
