@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 14px;
  font-size: 1.5rem;
  font-weight: 600;
  color: colors.$black;
  background-color: transparent;
  border-radius: layout.$border_button;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  &:hover {
    color: colors.$primary;
    cursor: pointer;
  }

  &.selected {
    color: colors.$primary;
  }

  &.outlined {
    border: 1px solid colors.$black;

    &:hover {
      border-color: colors.$primary;
    }

    &.selected {
      border-color: colors.$primary;
    }
  }
}

.invert {
  color: colors.$white;

  &:hover {
    color: colors.$primary;
    cursor: pointer;
    background-color: colors.$white;
  }

  &.outlined {
    border: 1px solid colors.$white;
  }
}
