@use '@/styles/constants/colors' as colors;
@use '@/styles/mixin/index' as mixin;

.container {
  @include mixin.flex-default(space-between);

  padding: 1rem 2rem;
  cursor: pointer;
}

.selected {
  background-color: colors.$white;
  border-radius: 2rem;
}

.text {
  display: flex;
  align-items: flex-start;
}

.title {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.essential {
  margin-top: 0.5rem;
  color: colors.$red;
}

.menu {
  padding-left: 1rem;
}
