@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;

.drag-and-drop {
  width: 23rem;
  height: fit-content;
  padding: 2rem 1rem;
  background-color: colors.$white;
  border-radius: layout.$border_button;
}
