@use '@/styles/constants/colors' as colors;

.input-container {
  & > label {
    display: block;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
    color: colors.$gray5;
  }

  .primary {
    font-size: 1.2rem;
  }

  .secondary {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
  }
}
