@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;
@use '@/styles/constants/dimensions' as dimensions;

$combobox-height: 35px;
$combobox-padding: 10px;

.combobox {
  position: relative;
  width: 100%;

  .combobox-button {
    display: flex; /* 추가 */
    align-items: center; /* 추가 */
    width: 100%;
    height: $combobox-height;
    padding: 0 $combobox-padding;
    text-align: left;
    cursor: pointer;
    background-color: colors.$gray1;
    border: 0;
    border-radius: layout.$border_button;
  }

  .dropdown {
    position: absolute;
    top: $combobox-height;
    width: 100%;
    max-height: calc($combobox-height * 5);
    background-color: colors.$white;
    border: 1px solid colors.$gray2;
    border-radius: layout.$border_button;

    .combobox-input {
      width: 100%;
      height: $combobox-height;
      padding: 0 $combobox-padding;
      border: 0;
      outline: none;
    }

    .dropdown-list {
      max-height: calc($combobox-height * 4);
      overflow-y: scroll;
      list-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .dropdown-button {
        width: 100%;
        height: $combobox-height;
        padding: 0 $combobox-padding;
        text-align: left;
        background-color: transparent;
        border: 0;
        border-top: 1px solid colors.$gray2;

        &.selected {
          background-color: colors.$gray1;
        }
      }
    }
  }
}
