@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/layout' as layout;
@use '@/styles/animations/loader' as loader;
@use '@/styles/mixin' as mixin;

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 20px;
  height: 100%;
  min-height: calc(100vh - #{layout.$nav_height});
  padding: 2.5rem;
  background-color: #f6f6f6;

  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    grid-column: 3;
    align-items: center;
    margin-top: 2.5rem;

    .button-container {
      padding: 2rem 1rem;
      background-color: colors.$white;
      border-radius: layout.$border_button;

      .toggle-button {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        padding: 0 20px;
        font-size: 1.5rem;
        font-weight: 500;
      }

      &:not(:first-child) {
        margin-top: 10px;
        background-color: transparent;
      }

      .template-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23rem;
        height: 38px;
        font-size: 1.4rem;
        color: colors.$primary;
        cursor: pointer;
        background-color: colors.$white;
        border: 1px solid colors.$primary;
        border-radius: 4px;

        &:not(:first-child) {
          margin-top: 10px;
        }

        & input {
          display: none;
        }
      }
    }
  }

  .main {
    grid-column: 2;
    height: fit-content;
    background-color: colors.$white;
    border-radius: layout.$border_button;

    &.active {
      background-color: #efeef3;
    }
  }

  .backdrop {
    position: absolute;
    inset: 0;
    flex-direction: column;
    backdrop-filter: blur(4px);

    @include mixin.flex-default(center);

    .loading {
      position: absolute;
      font-size: 1.6rem;
      color: colors.$gray4;
      transform: translateY(calc(50% - 130px));
    }
  }
}
