@use '@/styles/constants/colors' as colors;

.card {
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 44rem;

  & h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
  }

  & span {
    display: inline-block;
  }

  & > div {
    margin: 0 auto;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & span,
  p {
    font-size: 1.6rem;
    color: colors.$gray5;
  }

  .image {
    flex: 2;
    width: 18rem;
    margin: 0 auto;
    object-fit: contain;
  }

  .image + div {
    flex: 1;
  }
}
