@use '@/styles/mixin/index' as mixin;
@use '@/styles/constants/colors' as colors;

.container {
  width: 100%;
  height: 30%;

  @include mixin.flex-default;

  .carousel-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  .swipe-left,
  .swipe-right {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: none;
    display: block;
    transform: translateY(-50%);
  }

  .swipe-left {
    left: 2%;
  }

  .swipe-right {
    right: 2%;
  }

  .carousel {
    display: flex;
    width: 100%;

    li {
      flex: none;
      object-fit: contain;
    }
  }
}

.carousel-item {
  @include mixin.flex-default;

  width: 50%;
  padding: 5px;
  overflow: hidden;
  object-fit: cover;
  transition: border 300ms;

  img {
    flex-shrink: 0;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 20px;
  }
}
